/* 1. SIMPLE CSS SELECTORS */

/* a)Universal selector */

/* (To use the universal selector, use the asterisk character, * ) */

* {
  /* property: value; */
  padding: 0;
  margin: 0;
}

/* You can use the universal selector to reset the browser's default padding and margin to zero at the top of the file before you add any other styles: */

/* b) Type selector */

/* The Type selector will select the elements of the same element type provided */

p {
  /* property: value */
}

/* Here it will select all the <p> elements in the HTML document */

/* c) Class selector */

/* This selector selects and styles all multiple elements with the matching classname provided */

.pointer {
  /* property: value */
}

/* Here it will select all the elements with "pointer" as class in the HTML document */

/* Classes are reusable, making them a good option for practicing DRY development. DRY is a programming principle and is short for 'Don't Repeat Yourself'. As the name suggests, the aim is to avoid writing repetitive code whenever possible. */

/* d) ID selector */

/* This selector selects and styles a single element with the matching ID provided */

#small {
  /* property: value */
}

/* Here it will select the element with "small" as ID in the HTML document */
/* ------------------------------------------------------------------------------------------------ */

/* 2. CSS ATTRIBUTE SELECTORS */

/* Many HTML elements have attributes. */

/* HTML attributes:

 - Provide additional information about HTML elements.
 - Are always specified in the start (or opening) tag.
 - Usually come in name/value pairs such as name="value".
 - The value in a name/value pair should be enclosed in quotation marks. */

/* THE ATTRIBUTE SELECTOR TARGETS AND SELECTS ELEMENTS WITH THE MATCHING ATTRIBUTE AND VALUE */

/* There are different types of attribute selectors.

Below are some of the most common attribute selectors. */

/* a) The [attribute] Selector */

/* This selector will get the elements which had the specified attribute, IRRESPECTIVE OF THE VALUE */

a[attr] {
  /* property: value; */
}

/* Here the anchor elements with the attr attribute are selected */

/* Tobe more specific, we can provide the value for this attribute and get the anchor element with the matching attribute name and matching value */

a[attr="1"] {
  /* property: value; */
}

/* Here the anchor elements with the attr attribute and with a value 1 are selected */
/* -------------------------------------------------- */

/* We can also select the element with different filters on the value of it's attribute as follows: */

/* The [attribute^="value"] Selector */

/* This syntax will select the element with specified attribute and a value starting with a specific character */

a[attr^="www"] {
  /* property: value; */
}

/* The code above selects any a elements where the attr attribute name has a value that starts with www. */
/* -------------------------------------------------- */

/* The [attribute$="value"] Selector */

/* You could also specify that the value of the attribute ends with a specific */

/* For example, if you wanted to select a elements that have an attr attribute name with a value that ends with .com, you would do the following: */

a[attr$=".com"] {
  /* property: value; */
}
/* -------------------------------------------------- */
/* The [attribute*="value"] Selector */

/* You can also specify that the attribute value contains a specific substring - this selector is known as the Attribute Contains Substring Selector and has the following syntax: */

/* For example, if you wanted to select a elements that have an attr attribute with a value that contains the string free, you would do the following:
*/
a[attr*="free"] {
  /* property: value; */
}

/* -------------------------------------------------- */

/* The [attribute~="value"] Selector */

/* You can also specify that the selector matches an attribute value that contains a whole word using the following syntax: */

/* In this case, the string value needs to be a whole word. */

/* For example, if you wanted to select a elements that have an attr attribute name with a value that contains the word free, you would do the following: */

a[attr~="free"] {
  property: value;
}
/* The code above would match an attr attribute with a value of free that contains different kinds of whitespace. */

/* PSEUDO-CLASS Selectors */

/* Selectors that select elements w.r.t specific state */

/* Few states of an anchor element */

/* Hover, visited-link, non-visited link and checked-checkbox etc */

/* :link  -- link have not been visited yet */
a:link {
  color: yellow;
}

/* :visited  -- Link which is already visited */
a:visited {
  color: red;
}

/* :hover - hovering on the element */
a:hover {
  font-size: 2rem;
}

/* :focus  -- clicked once on the element OR switching the focus onto the element using tab key*/

a:focus {
  font-size: 52px;
}

/* :active -- element is selected y holding the left mouse button after being clicked */

a:active {
  color: black;
}

/* Pseudo class selectors for Input elements */

/* :focus -- when an input element is focused*/

input:focus {
  color: red;
  outline: 2px solid rgb(93, 93, 235);
}

/* :required -- select an input element with a required attribute */

input:required {
  border: 4px solid red;
}

/* :checked -- styles applied for a checked checkbox/radio input element */

#checkbox-input-element:checked {
  outline: 2px solid yellow;
}

#disabled-button-input-element:disabled {
  background-color: greenyellow;
}

/* Pseudo-class selectors for selecting elements based on their position/placement in a container  */
/* SYNTAX  :  
element:its-position-integer{
  property:value
} 
*/
#first-div,
#second-div,
#third-div {
  border: 2px dashed black;
  margin: 2rem;
}
p:first-child {
  background-color: red;
}
p:nth-child(3) {
  background-color: yellow;
}
/* the integer being passed inside this can be an expression that should results and integer */
p:last-child {
  background-color: whitesmoke;
  color: blue;
}

h3:nth-child(even) {
  color: brown;
}

h3:nth-child(odd) {
  color: rgb(0, 255, 76);
}

/* :first-of-type  - first element among a group of same type elements in a same container */

section:first-of-type {
  color: red;
}
/* :last-of-type  - last element among a group of same type elements in a same container */

section:last-of-type {
  color: green;
  border: 2px dotted purple;
}

/* Pseudo-element selectors - selecused for styling SPECIFIC PART OF AN ELEMENT  */

/* 2 uses
1. INSERT content, BEFORE/AFTER the selected element
2. CHANGE THE LOOK of a selected part of the element
*/

/* 1. INSERT content, BEFORE/AFTER the selected element */
#first-article::before {
  content: "I AM FROM CSS";
}

#second-article::after {
  content: "I AM FROM CSS";
}

/* 2. CHANGE THE LOOK of a selected part of the element
 */
#third-article::first-letter {
  color: red;
  font-size: 2rem;
  font-weight: bolder;
  font-style: italic;
}
#fourth-article::first-line {
  text-decoration: underline;
  background-color: yellow;
}
